* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #acacac;
}

body {
  width: 900px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.content-wrapper {
  padding: 80px;
  background-color: #FFFDFD;
}

header {
  height: 130px;
  background-color: #8D4B55;
  color: #fff;
  padding: 20px;
}

.info {
  float: right;
  letter-spacing: 3px;
  word-spacing: 8px;
  margin-right: 20%;
}

h1 {
  font-size: 37px;
}

header p {
  font-size: 20px;
}

.avatar > img {
  width: 5cm;
  height: 5.5cm;
  border-radius: 50%;
  margin-top: -50%;
  border: 5px solid #8D4B55;
}

h2 {
  color: #942637;
  margin-inline-start: 26px;
}

.underline {
  height: 2px;
  width: 100px;
  background-color: #8D4B55;
}
























footer {
  padding: 20px;
  background-color: #8D4B55;
  height: 80px;
}